* {
    padding: 30px;
}
body
{
    background-color: cornflowerblue;
    background-size: cover;
    background-repeat: no-repeat;
}
h1
{
    color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
}
h2
{
   color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center; 
}
h3
{
   color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center; 

}
h4
{
     color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;  
    font-size: 2em;
}

video
{
    width: 20%;
    height: 20%;
    margin-right: 20%;
    text-align: center;
    border: 2px solid black;
}
p
{
    color: chartreuse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

#nombres {
    font-size: 20px;
}